body
{
	background-color:#807863;
	color:rgb(255,255,255);
	font-family:Century Gothic, sans-serif;
	font-size:10pt;
}
h1,h2,h3
{
	border-bottom: #870303 solid 5px;
}
form
{
	background: white;
	color: #777;
	width: 620px;
	border: solid 2px #00;
}

table
{
	 background: #807863;
     color: white;
     border: solid;
     border-color: white;
     border-width: 2px;
     width: 620px;
}
th, td 
{
	    
   	border: solid;
     border-color: white;
     border-width: 1px;
		
}
input
{
    width: 300px;
}

